$primary-color: #21273b;
$secondary-color: #bbb;
$third-color: #e8491d;

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
