// Widescreens
@include mediaXl {
  header {
    nav {
      font-size: 2.5rem;
    }
  }
  #showcase {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2rem;
    }
  }
  #newsletter {
    h1 {
      font-size: 3rem;
      width: 70%;
    }
    form {
      margin-top: 3.5rem;
      width: 30%;
      height: 3rem;
      margin-bottom: 1rem;
    }

    input [type="email"] {
      padding: 2rem;
      height: 3rem;
      width: 90%;
    }
  }
}

// Desktops & Laptops
@include mediaLg {
  nav {
    li {
      font-size: 1.7rem;
    }
  }
  #newsletter {
    h1 {
      text-align: center;
      float: none;
      font-size: 2rem;
      width: 100%;
    }
    form {
      text-align: center;
      padding: 0;
      width: 100%;
    }
  }
}

// Tables & Small Laptops
@include mediaMd {
  nav {
    li {
      font-size: 1.3rem;
    }
  }
  #main-col {
    width: 55%;
  }
  #main-serv {
    width: 55%;
  }
}

// Smartphones
@include mediaSm {
  header {
    .logo {
      float: none;
      padding: 0;
    }
    position: fixed;

    li {
      padding: 0 0.5rem;
      font-size: 1rem;
    }
    #branding {
      width: 50%;
      float: none;
    }
    nav {
      float: none;
      text-align: center;
      font-size: 0.9rem;
      padding-bottom: 0.5rem;
    }
  }
  //Home page
  #newsletter {
    padding: 0;
    min-height: 18vh;
    text-align: center;
    width: 100%;
    h1 {
      float: none;
      text-align: center;
      width: 100%;
    }
    form {
      float: none;
      width: 100%;
    }
  }
  #boxes {
    .box {
      float: none;
      width: 100%;
    }
  }
  //About page
  #main-col {
    float: none;
    width: 80%;
    margin-top: 10rem;
  }
  #sidebar {
    float: none;
    width: 95%;
  }
  #main-serv {
    margin-top: 22vh;
    float: none;
    width: 92%;
    h1 {
      font-size: 1.5rem;
      padding: 0;
      margin: 3px;
    }
    background-color: $secondary-color;
    padding: 0.5rem;
  }
}
